Repository Evan-Kim2028/sui-sandbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, ruff-fix, ruff-format, python-typecheck, pytest-unit, validate-crossrefs, docker-compose-validate

.pre-commit-config.yaml:

repos:
  # ============================================================================
  # P0: Commit message linting (conventional commits)
  # ============================================================================
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  # ============================================================================
  # P1: Commit message length/format validation
  # ============================================================================
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        stages: [commit-msg]

  # ============================================================================
  # Rust checks
  # ============================================================================
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --locked
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

  # ============================================================================
  # Python checks
  # ============================================================================
  - repo: local
    hooks:
      - id: ruff-fix
        name: ruff fix
        entry: bash -c 'cd benchmark && uv run ruff check --fix .'
        language: system
        types: [python]
        pass_filenames: false

      - id: ruff-format
        name: ruff format
        entry: bash -c 'cd benchmark && uv run ruff format .'
        language: system
        types: [python]
        pass_filenames: false

      # P1: Python type checking
      - id: python-typecheck
        name: python type check (ty)
        entry: bash -c 'cd benchmark && uv run ty check src/'
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest-unit
        name: pytest (unit tests)
        entry: bash -c 'cd benchmark && uv run pytest -x -q -m "not integration and not docker" --tb=short'
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

  # ============================================================================
  # Documentation checks
  # ============================================================================
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: ["--fix"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--skip", "*.lock,target/*,*.json,*.proto", "--ignore-words-list", "crate,sui,ser,implementors"]

  - repo: local
    hooks:
      - id: validate-crossrefs
        name: validate markdown links
        entry: bash -c 'cd benchmark && uv run python scripts/validate_crossrefs.py --skip-external --fail-on-warning'
        language: system
        types: [markdown]
        pass_filenames: false
        stages: [pre-push]

  # ============================================================================
  # Docker validation (pre-commit only, not in CI)
  # ============================================================================
  - repo: local
    hooks:
      - id: docker-compose-validate
        name: docker-compose validate
        entry: docker compose config --quiet
        language: system
        files: docker-compose.*\.ya?ml$
        pass_filenames: false

test: add DeFi protocol replay tests
  tests/execute_bluefin_perpetuals.rs
  tests/execute_lending_protocols.rs
  tests/graphql_tests.rs
  tests/test_grpc_historical.rs
  tests/test_package_bcs.rs
  tests/test_package_debug.rs
  tests/test_package_parsing.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add comprehensive DeFi case study documentation
  docs/INSIGHTS.md
  docs/defi-case-study/BATCH_REPLAY.md
  docs/defi-case-study/BLUEFIN_PERPETUALS.md
  docs/defi-case-study/CETUS.md
  docs/defi-case-study/DEEPBOOK.md
  docs/defi-case-study/LENDING_PROTOCOLS.md
  docs/defi-case-study/README.md
  docs/guides/LOCAL_BYTECODE_SANDBOX.md
Due: validate-crossrefs

chore: update README, CHANGELOG, and dependencies
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: validate-crossrefs

docs: update guides and references
  docs/CONTRIBUTING.md
  docs/METHODOLOGY.md
  docs/MIGRATION.md
  docs/NO_CHAIN_TYPE_INHABITATION_SPEC.md
  docs/TEST_FIXTURES.md
  docs/TYPE_INHABITATION_EVALUATION.md
  docs/getting-started/TROUBLESHOOTING.md
  docs/guides/DATA_FETCHING.md
  docs/guides/RUNNING_BENCHMARKS.md
  docs/reference/CLI_REFERENCE.md
  docs/reference/SCHEMA.md
Due: validate-crossrefs

chore(benchmark): remove A2A references and update config
  benchmark/DATASETS.md
  benchmark/GETTING_STARTED.md
  benchmark/README.md
  benchmark/docs/ARCHITECTURE.md
  benchmark/docs/INTEGRATION_TESTING.md
  benchmark/docs/TESTING.md
  benchmark/pyproject.toml
  benchmark/src/smi_bench/constants.py
  benchmark/src/smi_bench/doctor.py
  benchmark/src/smi_bench/logging.py
  benchmark/tests/README.md
  benchmark/tests/test_doc_steps.py
  benchmark/tests/test_inhabit_evaluation.py
  benchmark/uv.lock
Due: ruff-fix, ruff-format, python-typecheck, pytest-unit, validate-crossrefs

chore: bump version to 0.6.0
  Cargo.toml
Due: none

fix(ci): fix Python linting and test configuration
  benchmark/.ruff.toml
  benchmark/pyproject.toml
Due: none

fix(ci): disable legacy tests and fix linting config
  tests/cached_ptb_replay_test.rs
  tests/debug_deserialization.rs
  tests/debug_swap_params.rs
  tests/execute_bluefin_perpetuals.rs
  tests/execute_cetus_swap.rs
  tests/execute_lending_protocols.rs
  tests/fetch_leia_package.rs
  tests/quickstart_validation.rs
  tests/test_package_debug.rs
  tests/test_package_parsing.rs
  tests/tx_replay_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(docs): clean up repository documentation structure
  .gitignore
  IMPLEMENTATION_SUMMARY.md
  docs/ARCHITECTURE.md
  docs/SANDBOX_REFACTOR_PLAN.md
  docs/archive/ARCHITECTURE_old.md
  docs/archive/DATASET_SNAPSHOTS.md
  docs/archive/IMPROVEMENTS.md
  docs/archive/INSIGHTS.md
  docs/archive/LOCAL_BYTECODE_SANDBOX.md
  docs/archive/MIGRATION_v0.6.0.md
  docs/archive/TYPE_INHABITATION_EXPANSION.md
  docs/archive/V0.4.0_IMPLEMENTATION_PLAN.md
  docs/archive/WALKTHROUGH.md
  docs/defi-case-study/DEEPBOOK_PTB_REPLAY.md
  docs/design/implementation-checklist.md
  docs/design/local-move-vm-sandbox.md
  docs/design/plausible-simulation.md
Due: validate-crossrefs

chore: remove Python benchmark hooks from pre-commit config
  .pre-commit-config.yaml
Due: none

feat: add Kriya DEX multi-hop swap example
  examples/README.md
  examples/kriya_swap.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

fix: add automatic object patching for version-locked protocols
  examples/README.md
  examples/kriya_swap.rs
  src/benchmark/object_patcher.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

refactor: extract common helpers to shared module
  examples/README.md
  examples/cetus_swap.rs
  examples/common/mod.rs
  examples/deepbook_replay.rs
  examples/kriya_swap.rs
  examples/scallop_deposit.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

chore: release v0.7.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: validate-crossrefs

refactor: Extract transaction types to sui-sandbox-types
  Cargo.lock
  Cargo.toml
  crates/sui-types/Cargo.toml
  crates/sui-types/src/lib.rs
  crates/sui-types/src/transaction.rs
  examples/cetus_swap.rs
  examples/deepbook_replay.rs
  examples/kriya_swap.rs
  examples/scallop_deposit.rs
  plans/benchmark-extraction-phase1.md
  plans/benchmark-extraction-plan.md
  src/benchmark/ptb_eval.rs
  src/benchmark/tx_replay.rs
  src/cache/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

refactor: Extract graphql, grpc, and utils to separate crates
  crates/sui-data-fetcher/Cargo.toml
  crates/sui-data-fetcher/src/conversion.rs
  crates/sui-data-fetcher/src/graphql.rs
  crates/sui-data-fetcher/src/grpc/README.md
  crates/sui-data-fetcher/src/grpc/client.rs
  crates/sui-data-fetcher/src/grpc/generated/google.rpc.rs
  crates/sui-data-fetcher/src/grpc/generated/sui.rpc.v2.rs
  crates/sui-data-fetcher/src/grpc/mod.rs
  crates/sui-data-fetcher/src/grpc/validation.rs
  crates/sui-data-fetcher/src/grpc/version.rs
  crates/sui-data-fetcher/src/lib.rs
  crates/sui-package-extractor/Cargo.toml
  crates/sui-package-extractor/src/bytecode.rs
  crates/sui-package-extractor/src/lib.rs
  crates/sui-package-extractor/src/normalization.rs
  crates/sui-package-extractor/src/types.rs
  crates/sui-package-extractor/src/utils.rs
  src/benchmark/tx_replay.rs
  src/lib.rs
  src/tx_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

refactor: Extract core VM components to sui-sandbox-core
  Cargo.lock
  Cargo.toml
  crates/sui-sandbox-core/Cargo.toml
  crates/sui-sandbox-core/src/lib.rs
  crates/sui-sandbox-core/src/natives.rs
  crates/sui-sandbox-core/src/object_runtime.rs
  crates/sui-sandbox-core/src/resolver.rs
  crates/sui-sandbox-core/src/sui_object_runtime.rs
  crates/sui-sandbox-core/src/vm.rs
  crates/sui-sandbox-core/src/well_known.rs
  src/benchmark/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: Extract PTB, types, and error_context to sui-sandbox-core
  crates/sui-sandbox-core/src/error_context.rs
  crates/sui-sandbox-core/src/lib.rs
  crates/sui-sandbox-core/src/ptb.rs
  crates/sui-sandbox-core/src/types.rs
  src/benchmark/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: Extract simulation and fetcher modules to sui-sandbox-core (Phase 6)
  crates/sui-sandbox-core/Cargo.toml
  crates/sui-sandbox-core/src/error_context.rs
  crates/sui-sandbox-core/src/errors.rs
  crates/sui-sandbox-core/src/fetcher.rs
  crates/sui-sandbox-core/src/lib.rs
  crates/sui-sandbox-core/src/object_patcher.rs
  crates/sui-sandbox-core/src/ptb.rs
  crates/sui-sandbox-core/src/sandbox_types.rs
  crates/sui-sandbox-core/src/simulation.rs
  crates/sui-sandbox-core/src/state_layer.rs
  crates/sui-sandbox-core/src/state_source.rs
  crates/sui-sandbox-core/src/types.rs
  crates/sui-sandbox-core/src/validator.rs
  src/benchmark/fetcher.rs
  src/benchmark/mod.rs
  src/benchmark/ptb_eval.rs
  src/benchmark/sandbox/cli.rs
  src/benchmark/session.rs
  tests/state_persistence_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: Extract remaining benchmark modules to sui-sandbox-core
  Cargo.lock
  crates/sui-sandbox-core/Cargo.toml
  crates/sui-sandbox-core/src/bytecode_analyzer.rs
  crates/sui-sandbox-core/src/constructor_map.rs
  crates/sui-sandbox-core/src/lib.rs
  crates/sui-sandbox-core/src/output.rs
  crates/sui-sandbox-core/src/package_builder.rs
  crates/sui-sandbox-core/src/storage_log.rs
  crates/sui-sandbox-core/src/tx_replay.rs
  src/benchmark/mod.rs
  src/benchmark/tx_replay.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: Update examples to import directly from sui_sandbox_core
  examples/cetus_swap.rs
  examples/deepbook_replay.rs
  examples/inspect_df.rs
  examples/kriya_swap.rs
  examples/scallop_deposit.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: Extract mm2 and phases modules to sui-sandbox-core
  Cargo.lock
  crates/sui-sandbox-core/Cargo.toml
  crates/sui-sandbox-core/src/lib.rs
  crates/sui-sandbox-core/src/mm2/constructor_graph.rs
  crates/sui-sandbox-core/src/mm2/mod.rs
  crates/sui-sandbox-core/src/mm2/model.rs
  crates/sui-sandbox-core/src/mm2/type_synthesizer.rs
  crates/sui-sandbox-core/src/mm2/type_validator.rs
  crates/sui-sandbox-core/src/phases/mod.rs
  crates/sui-sandbox-core/src/phases/resolution.rs
  crates/sui-sandbox-core/src/phases/typecheck.rs
  src/benchmark/mod.rs
  tests/benchmark_local_tests.rs
  tests/edge_case_tests.rs
  tests/error_context_integration_test.rs
  tests/integration_tests.rs
  tests/mm2_integration_test.rs
  tests/natives_tests.rs
  tests/sandbox_replay_integration_tests.rs
  tests/state_persistence_tests.rs
  tests/validator_tests.rs
  tests/vm_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Restore package building modules to sui-sandbox-core
  crates/sui-sandbox-core/src/bytecode_analyzer.rs
  crates/sui-sandbox-core/src/lib.rs
  crates/sui-sandbox-core/src/output.rs
  crates/sui-sandbox-core/src/package_builder.rs
  crates/sui-sandbox-core/src/state_layer.rs
  crates/sui-sandbox-core/src/storage_log.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: Remove deprecated pyo3-bindings crate
  crates/pyo3-bindings/Cargo.toml
  crates/pyo3-bindings/src/environment.rs
  crates/pyo3-bindings/src/lib.rs
  crates/pyo3-bindings/src/request.rs
  crates/pyo3-bindings/src/response.rs
  crates/pyo3-bindings/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: release v0.8.0
  BUG_REPORT_FIELD_INDEX.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/sui-sandbox-core/src/natives.rs
  docs/reference/CLI_REFERENCE.md
  examples/README.md
  examples/cetus_swap.rs
  examples/common/mod.rs
  examples/deepbook_replay.rs
  examples/scallop_deposit.rs
  src/bin/sandbox_cli/bridge.rs
  src/bin/sandbox_cli/ptb.rs
  src/bin/sandbox_cli/state.rs
  src/bin/sandbox_cli/view.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

chore: remove files that should not be tracked
  .gitignore
  docs/plans/ERROR_HANDLING_IMPROVEMENT_PLAN.md
  framework_bytecode/bridge
  framework_bytecode/deepbook
  framework_bytecode/move-stdlib
  framework_bytecode/sui-framework
  framework_bytecode/sui-system
  plans/benchmark-extraction-phase1.md
  plans/benchmark-extraction-plan.md
Due: validate-crossrefs

refactor: Split simulation.rs into modular directory structure
  crates/sui-sandbox-core/src/simulation/consensus.rs
  crates/sui-sandbox-core/src/simulation/environment.rs
  crates/sui-sandbox-core/src/simulation/errors.rs
  crates/sui-sandbox-core/src/simulation/mod.rs
  crates/sui-sandbox-core/src/simulation/state.rs
  crates/sui-sandbox-core/src/simulation/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: Migrate to parking_lot::Mutex for consistency
  Cargo.lock
  crates/sui-sandbox-core/Cargo.toml
  crates/sui-sandbox-core/src/natives.rs
  crates/sui-sandbox-core/src/object_runtime.rs
  crates/sui-sandbox-core/src/ptb.rs
  crates/sui-sandbox-core/src/storage_log.rs
  crates/sui-sandbox-core/src/sui_object_runtime.rs
  crates/sui-sandbox-core/src/vm.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(generic_patcher): Improve BCS decoding, explicit versions
  crates/sui-sandbox-core/src/utilities/generic_patcher.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(examples): Update scallop_deposit with deterministic execution
  examples/scallop_deposit.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(object_runtime): Add parent_id to ChildFetcherFn signature
  crates/sui-sandbox-core/src/natives.rs
  crates/sui-sandbox-core/src/object_runtime.rs
  crates/sui-sandbox-core/src/simulation/environment.rs
  crates/sui-sandbox-core/src/vm.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(examples): Update to new ChildFetcherFn signature
  examples/cetus_swap.rs
  examples/deepbook_replay.rs
  examples/multi_swap_flash_loan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: Add framework bytecode files for Move compilation
  framework_bytecode/bridge
  framework_bytecode/deepbook
  framework_bytecode/move-stdlib
  framework_bytecode/sui-framework
  framework_bytecode/sui-system
Due: none

feat(sui-data-fetcher): Add JSON-RPC client and enhance gRPC fetching
  Cargo.lock
  Cargo.toml
  crates/sui-data-fetcher/Cargo.toml
  crates/sui-data-fetcher/src/conversion.rs
  crates/sui-data-fetcher/src/graphql.rs
  crates/sui-data-fetcher/src/grpc/client.rs
  crates/sui-data-fetcher/src/lib.rs
  crates/sui-data-fetcher/src/utilities.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(sui-sandbox-core): Fix has_child_object existence check
  crates/sui-sandbox-core/Cargo.toml
  crates/sui-sandbox-core/src/natives.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(sui-sandbox-core): Add replay utilities and type utils
  crates/sui-package-extractor/Cargo.toml
  crates/sui-sandbox-core/src/lib.rs
  crates/sui-sandbox-core/src/object_runtime.rs
  crates/sui-sandbox-core/src/sui_object_runtime.rs
  crates/sui-sandbox-core/src/tx_replay.rs
  crates/sui-sandbox-core/src/utilities/generic_patcher.rs
  crates/sui-sandbox-core/src/utilities/mod.rs
  crates/sui-sandbox-core/src/utilities/type_utils.rs
  crates/sui-sandbox-core/src/vm.rs
  crates/sui-types/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test
