Repository Evan-Kim2028/sui-sandbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, ruff-fix, ruff-format, pytest-unit, validate-crossrefs, docker-compose-validate

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-fix:
  name: ruff fix
  entry: bash -c 'cd benchmark && uv run ruff check --fix .'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'cd benchmark && uv run ruff format .'
  language: system
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'cd benchmark && uv run pytest -x -q -m "not integration and not docker" --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-crossrefs:
  name: validate markdown links
  entry: bash -c 'cd benchmark && uv run python scripts/validate_crossrefs.py --skip-external --fail-on-warning'
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-compose-validate:
  name: docker-compose validate
  entry: docker compose config --quiet
  language: system
  pass_filenames: false

feat(ptb): add type validation for Receive command
  src/benchmark/ptb.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(simulation): fail fast on type parsing errors
  src/benchmark/simulation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(errors): improve error categorization and messages
  src/benchmark/errors.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(sandbox): enhance sandbox execution and VM infrastructure
  src/benchmark/object_runtime.rs
  src/benchmark/sandbox_exec.rs
  src/benchmark/vm.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(benchmark): update LLM tools and runner integration
  src/benchmark/llm_tools.rs
  src/benchmark/mod.rs
  src/benchmark/runner.rs
  src/benchmark/tx_replay.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core): update args, corpus, types and utils modules
  src/args.rs
  src/corpus.rs
  src/types.rs
  src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: add comprehensive tests for PTB simulation features
  tests/tx_replay_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: update README and architecture documentation
  README.md
  docs/ARCHITECTURE.md
Due: validate-crossrefs

chore: remove deprecated benchmark scripts and object_store
  benchmark/scripts/test_gpt52_artipedia.py
  benchmark/scripts/test_gpt52_multi.py
  benchmark/scripts/test_otw_creation.py
  benchmark/scripts/test_sandbox_agent.py
  src/benchmark/object_store.rs
Due: cargo-fmt, cargo-clippy, cargo-test, ruff-fix, ruff-format, pytest-unit

feat(runner): wire generic type synthesis throughout execution pipeline
  src/benchmark/mm2/mod.rs
  src/benchmark/mm2/type_synthesizer.rs
  src/benchmark/runner.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: reorganize documentation into structured folders
  ARCHITECTURE.md
  docs/archive/ARCHITECTURE_old.md
  docs/archive/DATASET_SNAPSHOTS.md
  docs/archive/IMPROVEMENTS.md
  docs/archive/INSIGHTS.md
  docs/archive/LOCAL_BYTECODE_SANDBOX.md
  docs/archive/MIGRATION_v0.6.0.md
  docs/archive/TYPE_INHABITATION_EXPANSION.md
  docs/archive/V0.4.0_IMPLEMENTATION_PLAN.md
  docs/archive/WALKTHROUGH.md
  docs/getting-started/QUICKSTART.md
  docs/getting-started/TROUBLESHOOTING.md
  docs/guides/LLM_INTEGRATION.md
  docs/guides/RUNNING_BENCHMARKS.md
  docs/guides/TRANSACTION_REPLAY.md
  docs/reference/CLI_REFERENCE.md
  docs/reference/ERROR_CODES.md
  docs/reference/PTB_SCHEMA.md
  docs/reference/SANDBOX_API.md
  docs/reference/SCHEMA.md
Due: validate-crossrefs

refactor(benchmark): add output, state_layer, and types modules
  src/benchmark/output.rs
  src/benchmark/state_layer.rs
  src/benchmark/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(benchmark): update core benchmark infrastructure
  src/args.rs
  src/benchmark/errors.rs
  src/benchmark/llm_tools.rs
  src/benchmark/mm2/type_synthesizer.rs
  src/benchmark/mod.rs
  src/benchmark/ptb.rs
  src/benchmark/ptb_eval.rs
  src/benchmark/resolver.rs
  src/benchmark/runner.rs
  src/benchmark/sandbox_exec.rs
  src/benchmark/simulation.rs
  src/benchmark/tx_replay.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: add comprehensive test coverage for benchmark infrastructure
  tests/edge_case_tests.rs
  tests/integration_tests.rs
  tests/mm2_integration_test.rs
  tests/natives_tests.rs
  tests/tx_replay_test.rs
  tests/validator_tests.rs
  tests/vm_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update README and Python inhabit module
  README.md
  benchmark/src/smi_bench/inhabit/__init__.py
  benchmark/src/smi_bench/inhabit/evaluation.py
Due: ruff-fix, ruff-format, pytest-unit, validate-crossrefs

chore: add GPT52 benchmark scripts and update gitignore
  .gitignore
  benchmark/scripts/ptb_sim_gpt52/README.md
  benchmark/scripts/ptb_sim_gpt52/test_gpt52_clmm_swap.py
  benchmark/scripts/ptb_sim_gpt52/test_gpt52_multi.py
  tests/tx_replay_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, ruff-fix, ruff-format, pytest-unit, validate-crossrefs

style: apply cargo fmt formatting
  src/args.rs
  src/benchmark/errors.rs
  src/benchmark/mm2/type_synthesizer.rs
  src/benchmark/mod.rs
  src/benchmark/natives.rs
  src/benchmark/object_runtime.rs
  src/benchmark/output.rs
  src/benchmark/package_builder.rs
  src/benchmark/ptb.rs
  src/benchmark/ptb_eval.rs
  src/benchmark/resolver.rs
  src/benchmark/runner.rs
  src/benchmark/sandbox_exec.rs
  src/benchmark/simulation.rs
  src/benchmark/state_layer.rs
  src/benchmark/storage_log.rs
  src/benchmark/tx_replay.rs
  src/benchmark/types.rs
  src/benchmark/vm.rs
  src/corpus.rs
  src/main.rs
  src/utils.rs
  tests/edge_case_tests.rs
  tests/integration_tests.rs
  tests/mm2_integration_test.rs
  tests/natives_tests.rs
  tests/tx_replay_test.rs
  tests/validator_tests.rs
  tests/vm_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: resolve clippy warnings for CI
  src/args.rs
  src/benchmark/mm2/type_synthesizer.rs
  src/benchmark/natives.rs
  src/benchmark/output.rs
  src/benchmark/package_builder.rs
  src/benchmark/ptb.rs
  src/benchmark/ptb_eval.rs
  src/benchmark/runner.rs
  src/benchmark/sandbox_exec.rs
  src/benchmark/simulation.rs
  src/benchmark/tx_replay.rs
  src/lib.rs
  src/main.rs
  src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: ignore tests requiring mainnet transaction cache in CI
  tests/tx_replay_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: simplify Python linting rules to pass CI
  benchmark/llm_sandbox_production.py
  benchmark/pyproject.toml
  benchmark/run_real_world_test.py
  benchmark/scripts/e2e_one_package.py
  benchmark/scripts/ptb_sim_gpt52/test_gpt52_clmm_swap.py
  benchmark/scripts/ptb_sim_gpt52/test_gpt52_multi.py
  benchmark/scripts/test_doc_examples.py
  benchmark/scripts/validate_crossrefs.py
  benchmark/src/smi_bench/a2a_green_agent.py
  benchmark/src/smi_bench/a2a_preflight.py
  benchmark/src/smi_bench/agentbeats_run_scenario.py
  benchmark/src/smi_bench/agents/real_agent.py
  benchmark/src/smi_bench/dataset.py
  benchmark/src/smi_bench/docker_runner.py
  benchmark/src/smi_bench/doctor.py
  benchmark/src/smi_bench/inhabit/evaluator.py
  benchmark/src/smi_bench/inhabit_runner.py
  benchmark/src/smi_bench/rust.py
  benchmark/src/smi_bench/utils.py
  benchmark/test_llm_sandbox_e2e.py
  benchmark/test_llm_self_healing.py
  benchmark/tests/conftest.py
  benchmark/tests/test_a2a_cancellation_robustness.py
  benchmark/tests/test_a2a_e2e_workflows.py
  benchmark/tests/test_cli.py
  benchmark/tests/test_doc_steps.py
  benchmark/tests/test_docker_benchmark_script.py
  benchmark/tests/test_docker_e2e.py
  benchmark/tests/test_docker_e2e_one_package_offline.py
  benchmark/tests/test_e2e_security_regression.py
  benchmark/tests/test_integration_phase1.py
  benchmark/tests/test_rust_hardening.py
  benchmark/uv.lock
Due: ruff-fix, ruff-format, pytest-unit

docs: add DeFi case studies for Cetus swap transaction replay
  docs/defi-case-study/01_CETUS_SWAP_LEIA_SUI.md
  docs/defi-case-study/02_CETUS_SWAP_JACKSON_SUI.md
Due: validate-crossrefs

feat: add data fetching infrastructure with GraphQL and caching
  src/cache/index.rs
  src/cache/manager.rs
  src/cache/mod.rs
  src/cache/normalize.rs
  src/data_fetcher.rs
  src/graphql.rs
  src/lib.rs
  src/tx_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: improve transaction replay with correct dynamic field handling
  src/benchmark/mod.rs
  src/benchmark/natives.rs
  src/benchmark/object_runtime.rs
  src/benchmark/resolver.rs
  src/benchmark/simulation.rs
  src/benchmark/state_source.rs
  src/benchmark/tx_replay.rs
  src/benchmark/types.rs
  src/benchmark/vm.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: add comprehensive tests for transaction replay
  tests/cache_integration_test.rs
  tests/cached_ptb_replay_test.rs
  tests/debug_deserialization.rs
  tests/debug_framework.rs
  tests/debug_swap_params.rs
  tests/edge_case_tests.rs
  tests/execute_cetus_swap.rs
  tests/fetch_leia_package.rs
  tests/graphql_tests.rs
  tests/group_ops_verification_test.rs
  tests/grpc_sandbox_integration_tests.rs
  tests/grpc_tests.rs
  tests/mm2_integration_test.rs
  tests/natives_tests.rs
  tests/sandbox_replay_integration_tests.rs
  tests/synthetic_ptb_case_study.rs
  tests/tx_replay_test.rs
  tests/vm_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: reorganize sandbox and add PyO3 bindings
  .gitlint
  .pre-commit-config.yaml
  crates/pyo3-bindings/Cargo.toml
  crates/pyo3-bindings/src/environment.rs
  crates/pyo3-bindings/src/lib.rs
  crates/pyo3-bindings/src/request.rs
  crates/pyo3-bindings/src/response.rs
  crates/pyo3-bindings/src/types.rs
  src/benchmark/errors.rs
  src/benchmark/mm2/type_synthesizer.rs
  src/benchmark/package_builder.rs
  src/benchmark/sandbox/cli.rs
  src/benchmark/sandbox/handlers/bytecode.rs
  src/benchmark/sandbox/handlers/cache.rs
  src/benchmark/sandbox/handlers/clock.rs
  src/benchmark/sandbox/handlers/coins.rs
  src/benchmark/sandbox/handlers/encoding.rs
  src/benchmark/sandbox/handlers/events.rs
  src/benchmark/sandbox/handlers/execution.rs
  src/benchmark/sandbox/handlers/introspection.rs
  src/benchmark/sandbox/handlers/mainnet.rs
  src/benchmark/sandbox/handlers/mod.rs
  src/benchmark/sandbox/handlers/module.rs
  src/benchmark/sandbox/handlers/objects.rs
  src/benchmark/sandbox/handlers/state.rs
  src/benchmark/sandbox/handlers/utils.rs
  src/benchmark/sandbox/mod.rs
  src/benchmark/sandbox/types.rs
  src/benchmark/sandbox_exec.rs
  src/benchmark/storage_log.rs
  src/benchmark/validator.rs
  src/bin/poll_transactions.rs
  src/bin/stream_transactions.rs
  src/corpus.rs
  src/main.rs
  src/rpc.rs
  src/runner.rs
  src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: update documentation and benchmark infrastructure
  README.md
  benchmark/llm_sandbox_production.py
  benchmark/scripts/ptb_sim_gpt52/test_gpt52_clmm_swap.py
  benchmark/scripts/ptb_sim_gpt52/test_gpt52_multi.py
  benchmark/scripts/validate_crossrefs.py
  benchmark/src/smi_bench/a2a_green_agent.py
  benchmark/src/smi_bench/a2a_middleware.py
  benchmark/src/smi_bench/a2a_purple_agent.py
  benchmark/src/smi_bench/agentbeats_run_scenario.py
  benchmark/src/smi_bench/agents/sandbox_agent.py
  benchmark/src/smi_bench/constants.py
  benchmark/src/smi_bench/docker_runner.py
  benchmark/src/smi_bench/doctor.py
  benchmark/src/smi_bench/inhabit/engine.py
  benchmark/src/smi_bench/inhabit/evaluator.py
  benchmark/src/smi_bench/logging.py
  benchmark/src/smi_bench/utils.py
  benchmark/test_llm_sandbox_e2e.py
  benchmark/test_llm_self_healing.py
  benchmark/tests/conftest.py
  benchmark/tests/test_docker_benchmark_script.py
  benchmark/tests/test_pyo3_bindings.py
  docs/CONTRIBUTING.md
  docs/MIGRATION.md
  docs/SANDBOX_REFACTOR_PLAN.md
  docs/getting-started/QUICKSTART.md
  docs/guides/DATA_FETCHING.md
  docs/guides/TRANSACTION_REPLAY.md
  docs/reference/SANDBOX_API.md
  pyproject.toml
Due: ruff-fix, ruff-format, pytest-unit, validate-crossrefs

chore: ignore .jsonl transaction data files
  .gitignore
  .gitlint
Due: none

feat: add complex transaction replay tests and case study
  docs/defi-case-study/03_COMPLEX_TX_REPLAY.md
  tests/complex_tx_replay.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

chore: bump version to 0.5.0
  Cargo.toml
  README.md
Due: validate-crossrefs

docs: remove A2A protocol link from README
  README.md
Due: validate-crossrefs

docs: remove JSON-RPC from data fetching documentation
  README.md
Due: validate-crossrefs

Deprecate JSON-RPC support in data fetcher
  .markdownlint.yaml
  README.md
  src/benchmark/tx_replay.rs
  tests/quickstart_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

chore: add JSON-RPC deprecation notices to data_fetcher
  src/data_fetcher.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: decouple data fetcher from simulation environment
  Cargo.lock
  docs/reference/SANDBOX_API.md
  src/benchmark/fetcher.rs
  src/benchmark/mod.rs
  src/benchmark/object_runtime.rs
  src/benchmark/sandbox/tool_schema.json
  src/benchmark/session.rs
  src/benchmark/simulation.rs
  src/benchmark/state_source.rs
  src/benchmark/tx_replay.rs
  src/benchmark/vm.rs
  tests/state_persistence_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

chore: remove obsolete documentation
  DOCUMENTATION_INDEX.md
  QUICK_START_GUIDE.md
  benchmark/TESTING_QUICKSTART.md
  docs/defi-case-study/01_CETUS_SWAP_LEIA_SUI.md
  docs/defi-case-study/02_CETUS_SWAP_JACKSON_SUI.md
  docs/defi-case-study/03_COMPLEX_TX_REPLAY.md
Due: validate-crossrefs

feat(grpc): enhance client for historical transaction replay
  docs/issues/GRPC_UNCHANGED_LOADED_RUNTIME_OBJECTS.md
  src/grpc/README.md
  src/grpc/client.rs
  src/grpc/validation.rs
  src/grpc/version.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

feat(replay): address aliasing and GraphQL-based historical replay
  src/args.rs
  src/benchmark/fetcher.rs
  src/benchmark/natives.rs
  src/benchmark/object_runtime.rs
  src/benchmark/session.rs
  src/benchmark/simulation.rs
  src/benchmark/state_source.rs
  src/benchmark/tx_replay.rs
  src/benchmark/vm.rs
  src/data_fetcher.rs
  src/graphql.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(sandbox): BCS codec and state handler improvements
  src/benchmark/sandbox/bcs_codec.rs
  src/benchmark/sandbox/handlers/helpers.rs
  src/benchmark/sandbox/handlers/state.rs
  src/benchmark/sandbox/mod.rs
  src/benchmark/sandbox/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ruff-fix: any of: \.py$
  ruff-format: any of: \.py$
  pytest-unit: any of: \.py$
  validate-crossrefs: any of: \.(md|markdown|mdown)$
  docker-compose-validate: any of: docker-compose.*\.ya?ml$
