Repository Evan-Kim2028/sui-sandbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, ruff-fix, ruff-format, pytest-unit, validate-crossrefs, docker-compose-validate

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --locked
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-fix:
  name: ruff fix
  entry: bash -c 'cd benchmark && uv run ruff check --fix .'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'cd benchmark && uv run ruff format .'
  language: system
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests)
  entry: bash -c 'cd benchmark && uv run pytest -x -q -m "not integration and not docker" --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-crossrefs:
  name: validate markdown links
  entry: bash -c 'cd benchmark && uv run python scripts/validate_crossrefs.py --skip-external --fail-on-warning'
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-compose-validate:
  name: docker-compose validate
  entry: docker compose config --quiet
  language: system
  pass_filenames: false

docs: remove redundant documentation files
  DOCUMENTATION_INDEX.md
  docs/ARCHITECTURE.md
  docs/DATASETS.md
  docs/TESTING.md
  docs/internal/DOCUMENTATION_AUDIT.md
  docs/internal/FEEDBACK_PIPELINE_AUDIT.md
Due: validate-crossrefs

docs: add Local Bytecode Sandbox documentation with failure taxonomy
  README.md
  benchmark/docs/ARCHITECTURE.md
  docs/LOCAL_BYTECODE_SANDBOX.md
  docs/METHODOLOGY.md
  docs/NO_CHAIN_TYPE_INHABITATION_SPEC.md
  docs/TYPE_INHABITATION_EVALUATION.md
  src/benchmark/mod.rs
  src/benchmark/natives.rs
  src/benchmark/vm.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

feat(v0.4.0): Add MM2 type validator and phase-based error taxonomy
  Cargo.lock
  Cargo.toml
  docs/V0.4.0_IMPLEMENTATION_PLAN.md
  src/benchmark/errors.rs
  src/benchmark/mm2/mod.rs
  src/benchmark/mm2/model.rs
  src/benchmark/mm2/type_validator.rs
  src/benchmark/mod.rs
  src/benchmark/phases/mod.rs
  src/benchmark/phases/resolution.rs
  src/benchmark/phases/typecheck.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

feat(v0.4.0): Add constructor graph and CLI flags
  src/args.rs
  src/benchmark/mm2/constructor_graph.rs
  src/benchmark/mm2/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(v0.4.0): Add MM2 integration tests
  tests/mm2_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add --emit-move-stubs for correct Move 2024 stub generation
  benchmark/scripts/e2e_one_package.py
  benchmark/src/smi_bench/rust.py
  src/args.rs
  src/lib.rs
  src/move_stubs.rs
  src/runner.rs
Due: cargo-fmt, cargo-clippy, cargo-test, ruff-fix, ruff-format, pytest-unit

chore: add deprecation warnings to Python stub generator
  benchmark/scripts/e2e_one_package.py
Due: ruff-fix, ruff-format, pytest-unit

feat: externalize prompts and document improvement opportunities
  benchmark/docs/IMPROVEMENTS.md
  benchmark/prompts/README.md
  benchmark/prompts/repair_build_error.txt
  benchmark/prompts/type_inhabitation_v1.txt
  benchmark/prompts/type_inhabitation_v2_detailed.txt
  benchmark/scripts/e2e_one_package.py
Due: ruff-fix, ruff-format, pytest-unit, validate-crossrefs

feat: implement P1 improvements - build errors, error source, scoring rubric
  benchmark/prompts/README.md
  benchmark/templates/README.md
  benchmark/templates/repair_build_error.txt
  benchmark/templates/type_inhabitation.txt
  benchmark/templates/type_inhabitation_detailed.txt
  benchmark/tests/test_prompt_templates.py
  src/benchmark/errors.rs
Due: cargo-fmt, cargo-clippy, cargo-test, ruff-fix, ruff-format, pytest-unit, validate-crossrefs

feat(mm2): add producer chains and type synthesizer for return value chaining
  src/benchmark/mm2/constructor_graph.rs
  src/benchmark/mm2/mod.rs
  src/benchmark/mm2/model.rs
  src/benchmark/mm2/type_synthesizer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(runner): integrate producer chains and type synthesis into benchmark
  src/benchmark/errors.rs
  src/benchmark/runner.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(inhabit): add oracle and evaluation modules for type inhabitation benchmark
  benchmark/src/smi_bench/inhabit/__init__.py
  benchmark/src/smi_bench/inhabit/evaluation.py
  benchmark/src/smi_bench/inhabit/evaluator.py
  benchmark/src/smi_bench/inhabit/executable_subset.py
  benchmark/src/smi_bench/inhabit/oracle.py
  benchmark/tests/test_inhabit_evaluation.py
  benchmark/tests/test_inhabit_evaluator.py
  benchmark/tests/test_inhabit_oracle.py
Due: ruff-fix, ruff-format, pytest-unit

feat(e2e): enhance e2e_one_package with oracle integration and metrics
  benchmark/scripts/e2e_one_package.py
  benchmark/src/smi_bench/inhabit_runner.py
  benchmark/src/smi_bench/schema.py
Due: ruff-fix, ruff-format, pytest-unit

chore: add test artifacts to gitignore
  .gitignore
Due: none

fix(mm2): improve safety and defaults in type synthesis
  src/benchmark/mm2/constructor_graph.rs
  src/benchmark/mm2/type_synthesizer.rs
  src/benchmark/runner.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(python): add logging to silent exception handlers
  benchmark/scripts/e2e_one_package.py
  benchmark/src/smi_bench/inhabit/evaluator.py
  benchmark/src/smi_bench/inhabit/oracle.py
Due: ruff-fix, ruff-format, pytest-unit

test(mm2): add producer chain and type synthesizer tests
  tests/mm2_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add v0.4.0 changelog and oracle documentation
  CHANGELOG.md
  docs/TYPE_INHABITATION_EVALUATION.md
Due: validate-crossrefs

feat: update Docker quickstart to use A2A mode and add top5 dataset
  README.md
  benchmark/manifests/datasets/quickstart_top5.txt
  benchmark/manifests/datasets/single_lst.txt
  benchmark/scripts/e2e_one_package.py
  benchmark/src/smi_bench/inhabit/__init__.py
  benchmark/src/smi_bench/inhabit/evaluation.py
  benchmark/src/smi_bench/inhabit/evaluator.py
  benchmark/src/smi_bench/inhabit/executable_subset.py
  benchmark/src/smi_bench/inhabit/oracle.py
  benchmark/tests/test_inhabit_evaluation.py
  benchmark/tests/test_inhabit_evaluator.py
  benchmark/tests/test_inhabit_oracle.py
  benchmark/tests/test_prompt_templates.py
  scripts/docker_quickstart.sh
  scripts/run_docker_benchmark.sh
  src/args.rs
  src/benchmark/errors.rs
  src/benchmark/mm2/constructor_graph.rs
  src/benchmark/mm2/mod.rs
  src/benchmark/mm2/model.rs
  src/benchmark/mm2/type_synthesizer.rs
  src/benchmark/phases/typecheck.rs
  src/benchmark/runner.rs
  src/move_stubs.rs
  src/runner.rs
  tests/mm2_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, ruff-fix, ruff-format, pytest-unit, validate-crossrefs

chore: bump version to v0.4.0 and add release workflow
  .github/workflows/release.yml
  Cargo.toml
  benchmark/pyproject.toml
Due: none

docs: add plausible simulation design documents
  docs/design/implementation-checklist.md
  docs/design/plausible-simulation.md
Due: validate-crossrefs

docs: complete Local Move VM Sandbox design
  docs/design/implementation-checklist.md
  docs/design/local-move-vm-sandbox.md
Due: validate-crossrefs

feat(vm): implement MockClock and MockRandom for deterministic execution
  src/benchmark/natives.rs
  src/benchmark/vm.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(vm): implement PTB executor and test utility natives
  docs/design/implementation-checklist.md
  src/benchmark/mod.rs
  src/benchmark/natives.rs
  src/benchmark/ptb.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

feat(vm): implement Object Store and Receiving Objects
  docs/design/implementation-checklist.md
  src/benchmark/natives.rs
  src/benchmark/object_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

chore: update dependencies for simulation infrastructure
  Cargo.lock
  Cargo.toml
Due: none

feat(vm): add SimulationEnvironment for deterministic Move execution
  src/benchmark/natives.rs
  src/benchmark/object_runtime.rs
  src/benchmark/resolver.rs
  src/benchmark/simulation.rs
  src/benchmark/vm.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(ptb): enhance PTB executor with full command support
  src/benchmark/ptb.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(replay): add mainnet transaction fetching and replay
  src/benchmark/tx_replay.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(eval): add PTB evaluation runner with self-healing
  src/benchmark/ptb_eval.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(sandbox): add LLM sandbox execution interface
  src/benchmark/llm_tools.rs
  src/benchmark/package_builder.rs
  src/benchmark/sandbox_exec.rs
  src/benchmark/storage_log.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(cli): add tx-replay, ptb-eval, and sandbox-exec subcommands
  src/args.rs
  src/benchmark/mod.rs
  src/benchmark/runner.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(benchmark): add Python LLM sandbox integration scripts
  benchmark/llm_sandbox_production.py
  benchmark/manifests/datasets/lst_single.txt
  benchmark/scripts/test_gpt52_artipedia.py
  benchmark/scripts/test_gpt52_multi.py
  benchmark/scripts/test_otw_creation.py
  benchmark/scripts/test_sandbox_agent.py
  benchmark/src/smi_bench/agents/sandbox_agent.py
  benchmark/test_llm_sandbox_e2e.py
  benchmark/test_llm_self_healing.py
Due: ruff-fix, ruff-format, pytest-unit

docs: update implementation checklist and add integration tests
  docs/design/implementation-checklist.md
  tests/mm2_integration_test.rs
  tests/tx_replay_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-crossrefs

feat(runner): integrate benchmark runner with SimulationEnvironment
  src/benchmark/ptb.rs
  src/benchmark/runner.rs
  src/benchmark/simulation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: comprehensive documentation update for SimulationEnvironment
  README.md
  docs/ARCHITECTURE.md
  docs/BENCHMARK_GUIDE.md
  docs/CLI_REFERENCE.md
  docs/LOCAL_BYTECODE_SANDBOX.md
  docs/design/local-move-vm-sandbox.md
Due: validate-crossrefs

fix(tests): update fixture to use non-framework address
  tests/cli_tests.rs
  tests/fixture/Move.lock
  tests/fixture/Move.toml
  tests/fixture/build/fixture/BuildInfo.yaml
  tests/fixture/build/fixture/bytecode_modules/test_module.mv
  tests/fixture/build/fixture/source_maps/test_module.json
  tests/fixture/build/fixture/source_maps/test_module.mvsm
Due: cargo-fmt, cargo-clippy, cargo-test

feat(type_synthesizer): add TypeContext for generic type synthesis
  src/benchmark/mm2/type_synthesizer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(natives): comprehensive documentation of crypto mock behavior
  src/benchmark/natives.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ruff-fix: any of: \.py$
  ruff-format: any of: \.py$
  pytest-unit: any of: \.py$
  validate-crossrefs: any of: \.(md|markdown|mdown)$
  docker-compose-validate: any of: docker-compose.*\.ya?ml$
